body {
  margin: 0;
  background-color: #2C2B3D;
  font-family: 'JetBrains Mono', monospace;

}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 71px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 107px;

}

ul {
  display: flex;
  gap: 64px;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #FFF;
}



p {
  font-family: 'Open Sans', sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  margin-left: 72px;
}

h1 {
  color: #FFF;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 62px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.green-title {
  color: #00BFA6;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}