body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#main {
  width: 626px;
  margin: auto;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}

h1 span {
  color: #EE24FF;
  font-weight: 700;
}

p {
  color: #828282;
  font-size: 15px;
  line-height: 22px;
}

strong, a {
  color: #3F3D56;
  font-size: 15px;
}